#m1 {

    border-radius: 70px 6px;
    border-color: rgb(210, 210, 209);
    border-style: solid;
    border-width: 2px;
    background-color: rgb(254, 251, 203);
    color: #8d7e6b;
    text-shadow: 2px 2px rgb(0, 0, 0);
    box-shadow: 10px 10px 5px rgba(91, 112, 119, 0.644);
    border-image: url("bdn.png");
}

.cx {
  display: inline-table;
  border-width: 2px;
  border-color: blue;
  border-style: solid;
}

#c1 {
    border-radius: 20px;
    border-color: rgb(210, 210, 209);
    border-style: solid;
    border-width: 1px;

}

body  {
    background-image: linear-gradient(#333352 , rgba(255, 230, 0, 0.445));
    background-attachment: fixed;
    background-color: #333352;
  }

.body {
  background-image: url("est.png");
  background-attachment:fixed;
}

#f2 {
    font-family: "Sofia", sans-serif;
  }


  * {
  box-sizing: border-box;
}

/* Style the header */
header {
  font-size: 35px;
  background-image: url("nvf.png");
  background-position:;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color:  rgb(51, 51, 82, 50%);
}



.hd {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 50px
    flex: 50%;
    width: 100%;
    height: 60%;
    justify-content: center;
}

@media (max-width: 700px) {
  header {
    font-size: 25px;
  }
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 29.5%;
  background: rgba(137, 189, 169, 0.226);
  padding: 20px;
  align-items: ;
}

.g {
  padding: 20px;
  width: 30%;
  height: 300px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  border-radius: 20px;
}

article {
  float: right;
  padding: 20px;
  width: 70%;
  height: 500px;
  background-color: rgba(74, 82, 83, 0.445);
  display: inline-block;
  overflow: scroll;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.flc {
  display: flex;
  flex-direction: row;
  justify-content:;
  font-size: 30px;
  text-align: center;
  position: relative;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    justify-content: ;
    
  }
  
  .fl {
    background-color: rgb(125, 137, 148)
    padding: 50px;
    flex: 50%;
  }
  

  .div {
  width: 200px;
  height: 100px;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  display: inline-block;
  max-width: 200px;
  display: ;

}

@media (min-width: 600px) {
    .flex-container {
      flex-direction: column;
    }
  }
  
  @media (max-width: 700px) {
    .flc {
      flex-direction: column;
    }
  }

.mb {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
    width: 100%;
    position: relative;
}




.fmr {
  border-radius: 10px;
}

#o {
  border-radius: 20px;
  border-style: solid;
  border: 1px;
  border-color: black;
}

div.fmr {
  border: 1px solid #ccc;
}

div.fmr:hover {
  border: 1px solid #777;
}

div.fmr img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.rmfa {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .rmfa {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .rmfa {
    width: 100%;
  }
}
  